<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Deppartment" parallel="tests" thread-count="3">
	<listeners>
		<listener class-name="test.Listeners" />
	</listeners>

	<parameter name="URL" value="qaclickacademy.com" />
	<test name="Personal loan" parallel="classes" thread-count="3">
		<parameter name="URL" value="personalloan.com" />
		<parameter name="APIKey/Username" value="1234"></parameter>
		<classes>
			<class name="test.day1" />
			<class name="test.day2" />
			<class name="test.day4">
				<methods>
					<include name="LoginAPIHomeLoan"></include>
				</methods>
			</class>
		</classes>
	</test>
	<test name="Car loan">
		<parameter name="URL" value="carloan.com" />
		<classes>
			<class name="test.day3">
				<methods>
					<!-- <exclude name="MobileLogincarLoan"></exclude> -->
					<!--<exclude name="Mobile.*"></exclude>-->
				</methods>
			</class>
		</classes>
	</test>
</suite> 
